html
    head
        meta(http-equiv="Content-Type" content="text/html" charset=UTF-8)
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Stlica Sibiri - travel agency
        link(href="css/styles_libs.css" rel="stylesheet" media="screen")
        link(rel="icon" type="image/png" href="images/logo.ico")

        script(src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous")

        script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous")

        script(src="js/libs.js")

    body(id="top")
        div.navbar-wrapper2.navbar-fixed-top(style="min-height: 110px;")
            div.container
                div.navbar.mtnav(style="top: 30px;")
                    div.container.offset-3
                        div.navbar-header
                            a(href="/")
                                img.logo(src="images/SS.gif" alt="ss logo" style="display: inline-block; width: 220px;")
                        div.navbar-collapse.collapse
                            ul.nav.navbar-nav.navbar-right
                                li.dropdown.active
                                    a.dropdown-toggle(data-toggle="dropdown" href="index.html")
                                        | Home
                                        span.badge.indent0 1
                                        b.lightcaret.mt-2

                                    ul.dropdown-menu.posright-0
                                        li.dropdown.active
                                            div.row.dropwidth01
                                                ul.droplist.col-md-4
                                                    li.dropdown-header Homepages
                                                    li
                                                        a(href="#") Home 1 minimal
                                                    li
                                                        a(href="#") Home 3 minimal
                                                    li
                                                        a(href="#") Home 4 minimal

                                                ul.droplist.col-md-4
                                                    li.dropdown-header Intro pages
                                                    li
                                                        a(href="#") Intro 1
                                                    li
                                                        a(href="#") Intro 2
                                                    li
                                                        a(href="#") Intro 3

                                                ul.droplist.col-md-4
                                                    li.dropdown-header Colors
                                                    li
                                                        a(href="#") Green
                                                    li
                                                        a(href="#") Orange
                                                    li
                                                        a(href="#") Cyan
                                                    li
                                                    li.inactive.size10.lgrey.cap
                                                        span.glyphicon.glyphicon-star
                                                        | Popular pages
                                li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown" href="index.html")
                                        | Pages
                                        span.badge.indent0 1
                                        b.lightcaret.mt-2

                                    ul.dropdown-menu.posright-0

                                        li.dropdown
                                            div.row.dropwidth01
                                                ul.droplist.col-md-4
                                                    li.dropdown-header Pages
                                                    li
                                                        a(href="#") Home 1 minimal
                                                    li
                                                        a(href="#") Home 3 minimal
                                                    li
                                                        a(href="#") Home 4 minimal

                                                ul.droplist.col-md-4
                                                    li.dropdown-header Intro pages
                                                    li
                                                        a(href="#") Intro 1
                                                    li
                                                        a(href="#") Intro 2
                                                    li
                                                        a(href="#") Intro 3

                                                ul.droplist.col-md-4
                                                    li.dropdown-header Colors
                                                    li
                                                        a(href="#") Green
                                                    li
                                                        a(href="#") Orange
                                                    li
                                                        a(href="#") Cyan
                                                    li
                                                    li.inactive.size10.lgrey.cap
                                                        span.glyphicon.glyphicon-star
                                                        | Popular pages

                                li
                                    a(href="#") Hotels
                                li
                                    a(href="#") Cruises
                                li
                                    a(href="#") Hotels
                                li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown" href="/")
                                        | Deals
                                        b.lightcaret.mt-2
                                    ul.dropdown-menu
                                        li.dropdown-header Aligned Right Dropdown
                                        li
                                            a(href="#") Home 1 minimal
                                        li
                                            a(href="#") Home 3 minimal




        div#slider_container(style="position: relative; top: 0px; left: 0px; height: 400px")
             div(u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; height: 400px")
                div
                    img(src='images/slider/rome.jpg' u='image')
                div
                    img(src='images/slider/paris.jpg' u='image')
                div
                    img(src='images/slider/santorini.jpg' u='image')


        script(src="js/views/welcome.js" type="text/javascript")
